{% extends "admin/base_site.html" %}
{# mce/admin/equivalency.html #}
{% block title %}Olivet MCE Database{% endblock %}
{% block branding %}
<h1 id="site-name" xmlns:forloop.counter xmlns:forloop.counter><a href="{% url 'admin:index' %}">{{ site_header|default:_('Equivalency Review Generator') }}</a></h1>
{% endblock %}
{% block content %}
<style>

</style>



<html>

<title>Generate Equivalency Review</title>
<form name="generatebutton" action="" method="post" accept-charset="utf-8" >
<div>
    <div>
        <div>
            <div >
                <div >
                    <select onchange="school()" id="select_institution">
                        <option value="0">Select Institution:</option>
                        <option value="1" name="Olivet College">Olivet College</option>
                        <option value="2">Kellogg Community College</option>
                    </select>
                </div>
                <div >
                    <select onchange="display_course_selected('inst_course', 'select_course_list')" id="select_course_list" name="inst_course">
                        <option value="0">Select Course:</option>
                        {% for course,id in data.0 %}
                        <option value="{{course}}">{{course}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            &nbsp;
            <div>
                <div>
                    <select onchange="military()" id="select_service">
                        <option value="0">Select Service:</option>
                        <option value="3">Army</option>
                        <option value="4">Navy</option>
                        <option value="5">Marines</option>
                        <option value="7">Coast Guard</option>
                        <option value="6">Air Force</option>
                    </select>
                </div>
                <div>
                    <select onchange="display_course_selected('military_course', 'military_course_list')" id="military_course_list" name="military_course" >
                        <option value="0">Select Course:</option>
                        {% for course,id in data.0 %}
                        <option value="{{course}}">{{course}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
    <p id="inst_course" name="college_course" ></p> <p id="military_course" name="military_course" ></p>
    <button type="submit" onclick="checkselected('Please Select Courses')" value="testing">GENERATE!</button>
</form>
{% load js %}
<script>
        function display_course_selected(para, course){
            var display_para = document.getElementById(para);
            var select_list_course = document.getElementById(course);

            var course_codes_descriptions = {{data.1 | js}}
            var descriptions = "";
            var i = 0;
            for(i = 0; i < course_codes_descriptions.length; i++){
                if(course_codes_descriptions[i][0] == select_list_course.value){
                    descriptions = course_codes_descriptions[i][1];
                }
            }
            display_para.style = "font-size:14px";
            display_para.innerText = select_list_course.value + ":" + descriptions;


        }
        function checkselected(message){
            var form = document.getElementById('generatebutton')
            var school_course = document.getElementById('select_course_list');
            var military_course = document.getElementById('military_course_list');

            if(school_course.value == 0 ){
                console.log("alerting user");
                alert(message);
            }
            else if(military_course.value == 0){
                console.log("alerting user");
                alert(message);
            }
        }
        function clearList(list){
            var display_course = document.getElementById(list.name)
            var i;
            for( i = list.options.length -1; i >= 0; i--){
                list.remove(i);
                }
            display_course.innerText = ""
            }

        function school(){
            var school_inst = document.getElementById('select_institution').value;
            var list = document.getElementById('select_course_list');
            displaysame(school_inst, list);
        }

        function military(){
            var military_inst = document.getElementById('select_service').value;
            var list = document.getElementById('military_course_list');
            displaysame(military_inst, list);
        }

         function displaysame(inst, list){
            clearList(list);
            var course_codes = {{ data.0 | js }};
            var start_opt = document.createElement('option');
            start_opt.text = "Select Course:"
            list.add(start_opt);
            var i;
            for(i = 0; i < course_codes.length; i++){
                if(course_codes[i][1] == inst){
                    var new_opt = document.createElement('option');
                    new_opt.text = course_codes[i][0];
                    new_opt.value = course_codes[i][0];
                    list.add(new_opt);
                }
            }
         }

</script>

</body>
</html>


{% endblock %}