/*
Changes to this file will alter the appearance of the Django
dbadmin site
*/
body {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #333;
    background: #ffffff;
}

#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #990000;
    color: #ffc;
    overflow: hidden;
}

h1 {
    color: #000000;
}

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #990000;
    color: #ffc;
}

a.section:link, a.section:visited {
    color: #ffffff;
    text-decoration: none;
}

a.section:focus, a.section:hover {
    text-decoration: underline;
}

#branding {
    float: left;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #f5dd5d;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#branding a:hover {
    text-decoration: none;
}

div.breadcrumbs {
    background: #990000;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}